<!-- gift-cards -->
<section class="gift-cards container-fluid">
	<!-- gift-cards__block -->
	<div class="container gift-cards__block">
		<h2 class="section-title section-title--gift-cards">Redeem free Gift Cards from<br class="d-none d-md-block d-lg-none"> over 100 Retailers</h2>
		<!-- gift-cards__gallery -->
		<div class="gift-cards__gallery">
			<!-- gift-card -->
			<a href="#!" class="gift-card">
				<div class="gift-card-thumbnail">
					<img src="{{asset "img/gift-cards/paypal.svg"}}" alt="PayPal" class="gift-card__img gift-card__img--paypal">
				</div>
				<div class="gift-card__footer">
					<p class="gift-card__brand">PayPal</p>
				</div>
			</a><!-- gift-card END -->
			<!-- gift-card -->
			<a href="#!" class="gift-card">
				<div class="gift-card-thumbnail">
					<img src="{{asset "img/gift-cards/apple.svg"}}" alt="apple" class="gift-card__img gift-card__img--apple">
				</div>
				<div class="gift-card__footer">
					<p class="gift-card__brand">Apple</p>
				</div>
			</a><!-- gift-card END -->
			<!-- gift-card -->
			<a href="#!" class="gift-card">
				<div class="gift-card-thumbnail">
					<img src="{{asset "img/gift-cards/bitcoin.svg"}}" alt="Bitcoin" class="gift-card__img gift-card__img--bitcoin">
				</div>
				<div class="gift-card__footer">
					<p class="gift-card__brand">Bitcoin</p>
				</div>
			</a><!-- gift-card END -->
			<!-- gift-card -->
			<a href="#!" class="gift-card">
				<div class="gift-card-thumbnail">
					<img src="{{asset "img/gift-cards/steam.svg"}}" alt="Steam" class="gift-card__img gift-card__img--steam">
				</div>
				<div class="gift-card__footer">
					<p class="gift-card__brand">Steam</p>
				</div>
			</a><!-- gift-card END -->
			<!-- gift-card -->
			<a href="#!" class="gift-card">
				<div class="gift-card-thumbnail">
					<img src="{{asset "img/gift-cards/amazon.svg"}}" alt="Amazon" class="gift-card__img gift-card__img--amazon">
				</div>
				<div class="gift-card__footer">
					<p class="gift-card__brand">Amazon</p>
				</div>
			</a><!-- gift-card END -->
			<!-- gift-card -->
			<a href="#!" class="gift-card">
				<div class="gift-card-thumbnail">
					<img src="{{asset "img/gift-cards/playstation.svg"}}" alt="PlayStation" class="gift-card__img gift-card__img--playstation">
				</div>
				<div class="gift-card__footer">
					<p class="gift-card__brand">PlayStation</p>
				</div>
			</a><!-- gift-card END -->
			<!-- gift-card -->
			<a href="#!" class="gift-card">
				<div class="gift-card-thumbnail">
					<img src="{{asset "img/gift-cards/ebay.svg"}}" alt="eBay" class="gift-card__img gift-card__img--ebay">
				</div>
				<div class="gift-card__footer">
					<p class="gift-card__brand">eBay</p>
				</div>
			</a><!-- gift-card END -->
			<!-- gift-card -->
			<a href="#!" class="gift-card">
				<div class="gift-card-thumbnail">
					<img src="{{asset "img/gift-cards/uber.svg"}}" alt="Uber" class="gift-card__img gift-card__img--uber">
				</div>
				<div class="gift-card__footer">
					<p class="gift-card__brand">Uber</p>
				</div>
			</a><!-- gift-card END -->
		</div><!-- gift-cards__gallery END -->
	</div><!-- gift-cards__block END -->
</section><!-- gift-cards END -->
